#carouselExampleIndicators{
    border: 1.3px solid;
}
#carouselExampleIndicators2{
    border: 1.3px solid;
}
#carouselExampleIndicators4{
    border: 1.3px solid;
}
#carouselExampleIndicators5{
    border: 1.3px solid;
}
#carouselExampleIndicators6{
    border: 1.3px solid;
}
#carouselExampleIndicators7{
    border: 1.3px solid;
}